.button {
  background-color: rgb(64, 24, 104);
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  transition: background-color 0.25s ease;
  &:hover {
    background-color: rgb(37, 11, 63);
  }
}
